<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        Base
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <!-- Navbar Starts Here 
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="color: orange;">CRM Tool</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/customers/add-customer">Add Customer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customers/edit-customer">Edit Customer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customers/view-customer">View Customer</a>
              </li>                              
                <li class="nav-item">
                  <a class="nav-link" href="/accounts/signout">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/accounts/signin">Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/accounts/signup">Sign Up</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle">
    <div class="container">
      <a class="navbar-brand" href="/" style="color: orange;"><b><span>CRM Tool</span></b><b><span>.</span></b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Center aligned -->
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/customers/add-customer">Add Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customers/search-customer">search-Customer</a>
            </li>
                     
          {% endif %}            
        </ul>
        <ul class="navbar-nav ms-auto"> <!-- Right aligned -->
          {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/signin">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/signup">Sign Up</a>
            </li>
          {% else %} 
            <li class="nav-item">
              <a class="nav-link" href="/accounts/signout">Logout</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav> 
    <!-- Navbar Ends Here -->

    <!-- Changing content starts here -->
    <div>
      {% block content %}

      {% endblock %}
    </div>
    <!-- Changing content ends here -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  </body>
</html>