{% extends 'mainapp/base.html' %}

{% block title %}
    Sign In
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <div class="col-lg-4 mx-auto shadow p-0 mt-4">
            <div class="alert alert-info">
                <h3>Sign In</h3>
            </div>
            <div class="p-4">
                <form action="/accounts/signin/" method="post">
                    {% csrf_token %}
                    {{login_form.as_p}}

                    <!-- <input type="text" name="username">
                    <input type="password" name="password"> -->
                    <hr>
                    <input type="submit" value="Sign In" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
{% endblock %}