{% extends 'mainapp/base.html' %}

{% block title %}
  Edit Customer
{% endblock %}

{% block content %}
<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchfunction</title>
 </head>
 <body>
    <h3>searchfunction</h3>
    <form class="d-flex" role="search" method="POST">
      {% csrf_token %}
      <input
         class="form-control me-2"
         type="search"
         placeholder="Search"
         name="customer_name"
         required aria-label="Search"
      >
      <button class="btn btn-outline-success" type="submit">Search</button>
     </form>
     <div class="border">
      {% if customers|length == 0 %}
        <div class="p-4">
          <br />
          <br />
          <div class="alert alert-info text-center">
            <p class="" style="font-size: 30px;">
              No Customers
            </p>
          </div>
          <br />
        </div>
      {% else %}
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Customer Name
                </th>
                <th>
                  Customer Email
                </th>
                <th>
                  Customer Phone
                </th>
                <th>
                  Customer City
                </th>   
                <th>
                  Action
                </th>                                      
              </tr>
            </thead>

            <tbody>
                {% for customer in customers %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{customer.customer_name}}</td>
                  <td>{{customer.customer_email}}</td>
                  <td>{{customer.customer_phone}}</td>
                  <td>{{customer.customer_city}}</td>
                  <td>
                    <!-- /customers/edit-customer/1 -->
                    <a href="/customers/edit-customer/{{customer.customer_id}}" title="Edit" >📝</a>&nbsp;
                    <a href="/customers/view-customer/{{customer.customer_id}}" title="View" >👁</a>&nbsp;
                    <a href="/customers/delete-customer/{{customer.customer_id}}" title="Delete" class="">🗑️</a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
 </body>
 </html>
 {% endblock %}
