{% extends 'mainapp/base.html' %}

{% block title %}
  View Customer
{% endblock %}

{% block content %}
<div>
  <div class="container pt-4">

    <div class="row p-0 mt-4">
      <div class="col-lg-4 mx-auto shadow p-0">
        <div class="alert alert-info">
            <h3>View Customer</h3>
        </div>
        <div class="p-4">
          {{form.as_p}}
          <hr>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}